<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .form-signin  input[name="login"]{


        }
    </style>
</head>
<body>
    <div class="container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${message}">
            <a th:text = "${message}"></a>
        </div>
        <h3><a class="badge badge-primary" th:href="@{/}">Main</a></h3>
        <h3><a class="badge badge-primary" th:href="@{/registration}">Registration page</a></h3>
        <form class="form-signin" th:action="@{/login}" method="post">
            <div>
                <label> User Name :
                    <input class="form-control" type="text" name="login" id="login"
                           required minlength="2" maxlength="30" pattern="[A-Za-z0-9]{2,30}"
                            title="Use A-Z, a-z, 0-9 from two to thirty letters."/>
                </label>
            </div>
            <div>
                <label> Password:
                    <input class="form-control" type="password" name="password" id="password"
                           required minlength="2" maxlength="30" pattern="[A-Za-z0-9]{2,30}"
                           title="Use A-Z, a-z, 0-9 from two to thirty letters."/>
                </label>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Log in"/>
            </div>
        </form>
    </div>
</body>
</html>